.main {
  background: #f7f5f2;
}

.main .brandColor {
  color: #d19147;
}

.main .mb0 {
  margin-bottom: 0;
}

.main .titleDiv {
  margin-top: 50px;
}

.main .titleDiv .title {
  margin: 0;
  font-family: 'Coming Soon', cursive;
  font-size: 26px;
  font-weight: 600;
}

.main .titleDiv p {
  text-align: justify;
}

.main .formDiv {
  margin-top: 60px;
}

.main .formDiv .mt40 {
  margin-top: 40px;
}

.main .formDiv .timeRangeDiv {
  margin-top: -30px;
}

.main .formDiv .timeRangeDiv .timeRange {
  font-family: 'Coming Soon', cursive;
}

.main .formDiv .timeRangeDivMobile {
  margin-top: 0;
}

.main .formDiv .timeRangeDivMobile .timeRange {
  font-family: 'Coming Soon', cursive;
}

.main .formDiv .saveSearchBtn {
  background: #757575;
  font-family: 'Coming Soon', cursive;
  color: #ffffff;
  font-weight: 600;
}

@media (min-width: 993px) {
  .main {
    height: 100vh;
  }
  .main .sloganDiv {
    margin-top: -60px;
  }
  .main .sloganDiv .slogan {
    font-family: 'Coming Soon', cursive;
    font-weight: 600;
    font-size: 16px;
  }
  .main .formDiv .searchReceiptsBtn {
    padding: 0 15px;
  }
}
/*# sourceMappingURL=primary-search.module.css.map */