$brand-principal-color: #d19147;
$hover-brand: #efb470;
$background-layer: #42424299;
$background-menu:#616161;
$color-admin-logo: #e0e0e0;
$background-dashboard: #f7f5f2;
$background-navbar-sections-dashboard: #fbfaf9;
$text-menu: #ffffff;
$text-color: #333333;
$icons-color: #757575;
.main {
    background: $background-dashboard;
    .brandColor {
        color: $brand-principal-color;
    }
    .mb0 {
        margin-bottom: 0;
    }
    .titleDiv {
        margin-top: 50px;
        .title {
            margin: 0;
            font-family: 'Coming Soon', cursive;
            font-size: 26px;
            font-weight: 600;
        }
        p {
            text-align: justify;
        }
    }
    .formDiv {
        margin-top: 60px;
        .mt40 {
            margin-top: 40px;
        }
        .timeRangeDiv {
            margin-top: -30px;
            .timeRange {
                font-family: 'Coming Soon', cursive;
            }
        }
        .timeRangeDivMobile {
            margin-top: 0;
            .timeRange {
                font-family: 'Coming Soon', cursive;
            }
        }
        .saveSearchBtn {
            background: $icons-color;
            font-family: 'Coming Soon', cursive;
            color: $text-menu;
            font-weight: 600;
        }
    }
}

@media (min-width: 993px) {
    .main {
        height: 100vh;
        .sloganDiv {
            margin-top: -60px;
            .slogan {
                font-family: 'Coming Soon', cursive;
                font-weight: 600;
                font-size: 16px;
            }
        }
        .formDiv {
            .searchReceiptsBtn {
                padding: 0 15px;
            }
        }
    }
}