.mb0 {
  margin-bottom: 0;
}

.fullHeight {
  height: 100vh;
}

.contentCard {
  position: absolute;
  background: #75757599;
  color: #ffffff;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transition: 1s;
  transition: 1s;
}

.contentCard .titleCardDiv {
  margin-bottom: 10px;
}

.contentCard .titleCardDiv .titleCard {
  color: #ffffff;
  font-family: 'Coming Soon', cursive;
  font-size: 24px;
}

.contentCard .timeCardDiv {
  margin-bottom: 20px;
}

.contentCard .timeCardDiv .timeCard {
  color: #ffffff;
}

.contentCard a {
  color: #ffffff;
}

.recipeImageContainer {
  height: 277px;
  background-color: black;
  overflow-y: hidden;
}

.recipeImageContainer img {
  max-width: 100%;
  height: auto;
  min-height: 100%;
}

@media only screen and (max-width: 335px) {
  .titleCard {
    font-size: 18px !important;
  }
  .iconsMobile {
    font-size: 21px !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .titleCard {
    font-size: 18px !important;
  }
  .iconsMobile {
    font-size: 21px !important;
  }
}

@media (min-width: 993px) {
  .recipeImageContainer:hover ~ .contentCard {
    background: #757575;
    bottom: -120px;
    z-index: 3;
  }
}
/*# sourceMappingURL=receipts-grid.module.css.map */