$brand-principal-color: #d19147;
$hover-brand: #efb470;
$background-layer: #42424299;
$background-menu:#616161;
$color-admin-logo: #e0e0e0;
$background-dashboard: #f7f5f2;
$background-navbar-sections-dashboard: #fbfaf9;
$text-menu: #ffffff;
$text-color: #333333;
$icons-color: #757575;
$icons-color-opacity: #75757599;
.mb0 {
    margin-bottom: 0;
}

.fullHeight {
    height: 100vh;
}

.contentCard {
    position: absolute;
    background: $icons-color-opacity;
    color: $text-menu;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: 1s;
    .titleCardDiv {
        margin-bottom: 10px;
        .titleCard {
            color: $text-menu;
            font-family: 'Coming Soon', cursive;
            font-size: 24px;
        }
    }
    .timeCardDiv {
        margin-bottom: 20px;
        .timeCard {
            color: $text-menu;
        }
    }
    a {
        color: $text-menu;
    }
}


.recipeImageContainer {
    height: 277px;
    background-color: black;
    overflow-y: hidden;

    img {
        max-width: 100%;
        height: auto;
        min-height: 100%;
    }
}

@media only screen and (max-width: 335px) {
    .titleCard {
        font-size: 18px !important;
    }
    .iconsMobile {
        font-size: 21px !important;
    }
}

//Changes the font-sizes of the material-icons stars between 601 - 800px
@media only screen and (min-width: 601px) and (max-width: 800px) {
    .titleCard {
        font-size: 18px !important;
    }
    .iconsMobile {
        font-size: 21px !important;
    }
}

//Activates hover effect on receipt image (desktop)
@media (min-width: 993px) {
    .recipeImageContainer:hover~.contentCard {
        background: $icons-color;
        bottom: -120px;
        z-index: 3;
    }
}