header nav {
  background: #fbfaf9;
}

header nav a {
  /*color: $icons-color !important;*/
  color: black !important;
  font-family: 'Coming Soon', cursive;
  font-weight: 600;
  text-transform: capitalize;
}

header nav .registerBtn {
  background-color: #d19147 !important;
  text-transform: capitalize;
  color: #ffffff !important;
  border-radius: 5px;
}

header nav .searchBtn {
  text-transform: uppercase;
}

header nav button {
  background: #fbfaf9 !important;
  color: black !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

header li a {
  color: black !important;
  font-family: 'Coming Soon', cursive;
  font-weight: 600 !important;
  text-transform: capitalize;
}

header li .registerBtn {
  background-color: #d19147 !important;
  text-transform: capitalize !important;
  color: #ffffff !important;
  border-radius: 5px;
}

header li .searchBtn {
  text-transform: uppercase;
}
/*# sourceMappingURL=header.module.css.map */