$brand-principal-color: #d19147;
$hover-brand: #efb470;
$background-layer: #42424299;
$background-menu:#616161;
$color-admin-logo: #e0e0e0;
$background-dashboard: #f7f5f2;
$background-navbar-sections-dashboard: #fbfaf9;
$text-menu: #ffffff;
$text-color: #333333;
$icons-color: #757575;
header {
    nav {
        background: $background-navbar-sections-dashboard;
        a {
            /*color: $icons-color !important;*/
            color: black !important;
            font-family: 'Coming Soon', cursive;
            font-weight: 600;
            text-transform: capitalize;
        }
        .registerBtn {
            background-color: $brand-principal-color !important;
            text-transform: capitalize;
            color: $text-menu !important;
            border-radius: 5px;
        }
        .searchBtn {
            text-transform: uppercase;
        }
        button {
            background: #fbfaf9 !important;
            color: black !important;
            box-shadow: none !important;
        }
    }
    li {
        a {
            color: black !important;
            font-family: 'Coming Soon', cursive;
            font-weight: 600 !important;
            text-transform: capitalize;
        }
        .registerBtn {
            background-color: $brand-principal-color !important;
            text-transform: capitalize !important;
            color: $text-menu !important;
            border-radius: 5px;
        }
        .searchBtn {
            text-transform: uppercase;
        }
    }
}