:root {
    --brand: #d19147;
    --hover-brand: #efb470;
    --error: #f44336;
    --succeed: #28a745;
}


/*********************************************
* Text, email and password inputs and icons
***********************************************/


/* label color */


/*.input-field label {
    color: var(--brand);
}*/


/* label focus color */

.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=password]:focus+label {
    color: var(--brand) !important;
}


/* label underline focus color */

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid var(--brand) !important;
    box-shadow: 0 1px 0 0 var(--brand) !important;
}


/* valid color */

.input-field input[type=text].valid,
.chips.focus {
    border-bottom: 1px solid var(--brand) !important;
    box-shadow: 0 1px 0 0 var(--brand) !important;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid var(--error) !important;
    box-shadow: 0 1px 0 0 var(--error) !important;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: var(--brand) !important;
}

.invalid {
    color: var(--error) !important;
}

.valid {
    color: var(--succeed) !important;
}


/*****************************
Chips inputs and selects
******************************/


/*Chips focus*/

.chip:focus {
    background-color: var(--brand) !important;
}


/*Dropdown chips*/

.dropdown-content li>a,
.dropdown-content li>span {
    color: var(--brand) !important;
}


/*Dropdown selects*/

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid var(--brand) !important;
}


/*******************************
*Radio buttons inputs
********************************/

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: var(--brand) !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid var(--brand) !important;
}


/********************************
*Range button
*********************************/

input[type=range]::-webkit-slider-thumb {
    background-color: var(--brand) !important;
}

input[type=range]::-moz-range-thumb {
    background-color: var(--brand) !important;
}

input[type=range]::-ms-thumb {
    background-color: var(--brand) !important;
}


/***** These are to edit the thumb and the text inside the thumb *****/

input[type=range]+.thumb {
    background-color: var(--brand) !important;
}

input[type=range]+.thumb.active .value {
    color: var(--brand) !important;
}


/********************************
*Tabs from profile component
*********************************/

.tabs .tab a {
    color: #000 !important;
}

.tabs .tab a:hover {
    color: var(--brand) !important;
}

.tabs .tab a:focus.active {
    color: #000 !important;
    /*Custom Text Color While Active*/
    background-color: var(--hover-brand) !important;
    /*Custom Background Color While Active*/
}

.tabs .indicator {
    background-color: var(--brand) !important;
    /*Custom Color Of Indicator*/
}


/*******************************
*Toasts messages
*********************************/

.errorToast {
    background: var(--error) !important;
    font-weight: 600;
}

.succedToast {
    background: var(--succeed) !important;
}