$brand-principal-color: #d19147;
$hover-brand: #efb470;
$background-layer: #42424299;
$background-menu:#616161;
$color-admin-logo: #e0e0e0;
$background-dashboard: #f7f5f2;
$background-navbar-sections-dashboard: #fbfaf9;
$text-menu: #ffffff;
$text-color: #333333;
$icons-color: #757575;
$icons-color-opacity: #75757533;
$delete-account: #f44336;
.main {
    background: $background-dashboard;
    min-height: 100vh;
    padding-bottom: 120px;
    .mb0 {
        margin-bottom: 0;
    }
    .mb20 {
        margin-bottom: 20px;
    }
    .tabsDiv {
        margin-top: 50px;
        ul {
            background-color: $icons-color-opacity;
            border-radius: 5px 5px 0px 0px !important;
            li {
                a {
                    font-family: 'Coming Soon', cursive;
                    color: $text-color;
                    font-weight: 600;
                    text-transform: capitalize;
                    &:hover {
                        color: $hover-brand;
                    }
                    &:focus.active {
                        background-color: $brand-principal-color !important;
                        color: $brand-principal-color;
                    }
                }
                a.active {
                    color: $brand-principal-color !important;
                    background-color: $hover-brand !important;
                }
            }
        }
    }
    .tabs .tab a:focus,
    .tabs .tab a:focus.active {
        background-color: $hover-brand !important;
    }
    .favReceiptsDiv {
        margin-top: 40px;
    }
    .titleProfileDiv {
        margin-top: 30px;
    }
    .titleProfile {
        font-family: 'Coming Soon', cursive;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .spanInput {
        text-align: left;
        padding-left: 20px;
        span {
            vertical-align: middle;
            font-family: 'Coming Soon', cursive;
            font-weight: 600;
        }
    }
    .changePassDiv {
        margin-top: 30px;
    }
    .settingBtn {
        cursor: pointer;
        border: none;
        background: transparent;
        box-shadow: none;
        i {
            font-size: 25px;
            color: $icons-color;
        }
    }
    .sectionOption {
        i {
            margin-right: 20px;
        }
    }
    .favBtnDiv {
        text-align: left;
    }
    .favBtn {
        background: $delete-account;
    }
}

@media (min-width: 993px) {
    .main {
        .titleProfile {
            text-align: center;
        }
        .spanInput {
            text-align: left;
            padding-left: initial;
            margin-top: 30px;
        }
        .settingBtn {
            margin-left: 40px;
        }
        .sectionOption {
            text-align: right;
            i {
                margin-right: 20px;
            }
        }
        .favBtnDiv {
            text-align: initial;
        }
    }
}