.main {
  background: #f7f5f2;
  min-height: 100vh;
  padding-bottom: 120px;
}

.main .mb0 {
  margin-bottom: 0;
}

.main .mb20 {
  margin-bottom: 20px;
}

.main .tabsDiv {
  margin-top: 50px;
}

.main .tabsDiv ul {
  background-color: #75757533;
  border-radius: 5px 5px 0px 0px !important;
}

.main .tabsDiv ul li a {
  font-family: 'Coming Soon', cursive;
  color: #333333;
  font-weight: 600;
  text-transform: capitalize;
}

.main .tabsDiv ul li a:hover {
  color: #efb470;
}

.main .tabsDiv ul li a:focus.active {
  background-color: #d19147 !important;
  color: #d19147;
}

.main .tabsDiv ul li a.active {
  color: #d19147 !important;
  background-color: #efb470 !important;
}

.main .tabs .tab a:focus,
.main .tabs .tab a:focus.active {
  background-color: #efb470 !important;
}

.main .favReceiptsDiv {
  margin-top: 40px;
}

.main .titleProfileDiv {
  margin-top: 30px;
}

.main .titleProfile {
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

.main .spanInput {
  text-align: left;
  padding-left: 20px;
}

.main .spanInput span {
  vertical-align: middle;
  font-family: 'Coming Soon', cursive;
  font-weight: 600;
}

.main .changePassDiv {
  margin-top: 30px;
}

.main .settingBtn {
  cursor: pointer;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main .settingBtn i {
  font-size: 25px;
  color: #757575;
}

.main .sectionOption i {
  margin-right: 20px;
}

.main .favBtnDiv {
  text-align: left;
}

.main .favBtn {
  background: #f44336;
}

@media (min-width: 993px) {
  .main .titleProfile {
    text-align: center;
  }
  .main .spanInput {
    text-align: left;
    padding-left: initial;
    margin-top: 30px;
  }
  .main .settingBtn {
    margin-left: 40px;
  }
  .main .sectionOption {
    text-align: right;
  }
  .main .sectionOption i {
    margin-right: 20px;
  }
  .main .favBtnDiv {
    text-align: initial;
  }
}
/*# sourceMappingURL=user-detail.module.css.map */