.main {
  background: #f7f5f2;
}

.main .brandColor {
  color: #d19147;
}

.main .sloganDiv {
  margin-top: -30px;
}

.main .sloganDiv .slogan {
  font-family: 'Coming Soon', cursive;
  font-weight: 600;
  font-size: 14px;
}

.main .titleDiv {
  margin-top: 50px;
}

.main .titleDiv .title {
  margin: 0;
  font-family: 'Coming Soon', cursive;
  font-size: 26px;
  font-weight: 600;
}

.main .titleDiv .savedSearch {
  font-family: 'Coming Soon', cursive;
  font-size: 14px;
  font-weight: 600;
  color: #d19147;
  text-decoration: underline;
}

.main .formDiv {
  margin-top: 60px;
}

.main .formDiv .mt40 {
  margin-top: 40px;
}

.main .formDiv .timeRangeDiv {
  margin-top: -30px;
}

.main .formDiv .timeRangeDiv .timeRange {
  font-family: 'Coming Soon', cursive;
}

.main .formDiv .timeRangeDivMobile {
  margin-top: 0;
}

.main .formDiv .timeRangeDivMobile .timeRange {
  font-family: 'Coming Soon', cursive;
}

.main .formDiv .searchReceiptsBtn {
  background: #d19147;
  font-family: 'Coming Soon', cursive;
  font-weight: 600;
  color: #333333;
  padding: 0 30px;
}

.main .formDiv .saveSearchBtn {
  background: #757575;
  font-family: 'Coming Soon', cursive;
  color: #ffffff;
  font-weight: 600;
}

.main .helpBtn {
  position: -webkit-sticky;
  position: sticky;
  left: 15px;
  bottom: 15px;
  background: #d19147;
}

.main .helpBtn:hover {
  background: #efb470;
}

.main .helpBtn i {
  font-size: 2.6rem;
}

@media (min-width: 993px) {
  .main .sloganDiv {
    margin-top: -40px;
  }
  .main .sloganDiv .slogan {
    font-family: 'Coming Soon', cursive;
    font-weight: 600;
    font-size: 16px;
  }
  .main .formDiv .searchReceiptsBtn {
    padding: 0 15px;
  }
}
/*# sourceMappingURL=search-form.module.css.map */