$brand-principal-color: #d19147;
$hover-brand: #efb470;
$background-layer: #42424299;
$background-menu:#616161;
$color-admin-logo: #e0e0e0;
$background-dashboard: #f7f5f2;
$background-navbar-sections-dashboard: #fbfaf9;
$text-menu: #ffffff;
$text-color: #333333;
$icons-color: #757575;
.main {
    background: $background-dashboard;
    .brandColor {
        color: $brand-principal-color;
    }
    .sloganDiv {
        margin-top: -30px;
        .slogan {
            font-family: 'Coming Soon', cursive;
            font-weight: 600;
            font-size: 14px;
        }
    }
    .titleDiv {
        margin-top: 50px;
        .title {
            margin: 0;
            font-family: 'Coming Soon', cursive;
            font-size: 26px;
            font-weight: 600;
        }
        .savedSearch {
            font-family: 'Coming Soon', cursive;
            font-size: 14px;
            font-weight: 600;
            color: $brand-principal-color;
            text-decoration: underline;
        }
    }
    .formDiv {
        margin-top: 60px;
        .mt40 {
            margin-top: 40px;
        }
        .timeRangeDiv {
            margin-top: -30px;
            .timeRange {
                font-family: 'Coming Soon', cursive;
            }
        }
        .timeRangeDivMobile {
            margin-top: 0;
            .timeRange {
                font-family: 'Coming Soon', cursive;
            }
        }
        .searchReceiptsBtn {
            background: $brand-principal-color;
            font-family: 'Coming Soon', cursive;
            font-weight: 600;
            color: $text-color;
            padding: 0 30px;
        }
        .saveSearchBtn {
            background: $icons-color;
            font-family: 'Coming Soon', cursive;
            color: $text-menu;
            font-weight: 600;
        }
    }
    .helpBtn {
        position: sticky;
        left: 15px;
        bottom: 15px;
        background: $brand-principal-color;
        &:hover {
            background: $hover-brand;
        }
        i {
            font-size: 2.6rem;
        }
    }
}

@media (min-width: 993px) {
    .main {
        .sloganDiv {
            margin-top: -40px;
            .slogan {
                font-family: 'Coming Soon', cursive;
                font-weight: 600;
                font-size: 16px;
            }
        }
        .formDiv {
            .searchReceiptsBtn {
                padding: 0 15px;
            }
        }
    }
}