/*Color variables*/
* {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #333333;
}

.background {
  height: 100vh;
  /*background: $background-navbar-sections-dashboard;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#42424299), to(#42424299)), url(../../assets/images/home-background.jpg);
  background-image: linear-gradient(#42424299, #42424299), url(../../assets/images/home-background.jpg);
}

.background .fullHeight {
  height: 100vh;
}

.background .logo {
  margin-top: 10%;
}

.background .searchButton, .background .loginButton {
  background: #ffffff;
  color: #333333;
  border-radius: 5px;
  font-family: 'Coming Soon', cursive;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
}

.background .searchButton:hover, .background .loginButton:hover {
  background: #757575;
  color: #ffffff;
}

.background .loginButton {
  background: #d19147;
  color: #ffffff;
}

.background .loginButton:hover {
  background: #efb470;
  color: #ffffff;
}

@media (min-width: 600px) {
  .background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#42424299), to(#42424299)), url(../../assets/images/home-background.jpg);
    background-image: linear-gradient(#42424299, #42424299), url(../../assets/images/home-background.jpg);
  }
}
/*# sourceMappingURL=home.module.css.map */