/*Color variables*/

$brand-principal-color: #d19147;
$hover-brand: #efb470;
$text-color: #333333;
$background-layer: #42424299;
$text-menu: #ffffff;
$icons-color: #757575;
$background-navbar-sections-dashboard: #fbfaf9;
* {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: $text-color;
}

.background {
    height: 100vh;
    /*background: $background-navbar-sections-dashboard;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient($background-layer, $background-layer), url(../../assets/images/home-background.jpg);
    .fullHeight {
        height: 100vh;
    }
    .logo {
        margin-top: 10%;
    }
    .searchButton {
        background: $text-menu;
        color: $text-color;
        border-radius: 5px;
        font-family: 'Coming Soon', cursive;
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 600;
        &:hover {
            background: $icons-color;
            color: $text-menu;
        }
    }
    .loginButton {
        @extend .searchButton;
        background: $brand-principal-color;
        color: $text-menu;
        &:hover {
            background: $hover-brand;
            color: $text-menu;
        }
    }
}

@media (min-width: 600px) {
    .background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: /* top, transparent red */
        linear-gradient($background-layer, $background-layer), /* your image */
        url(../../assets/images/home-background.jpg);
    }
}