$brand-principal-color: #d19147;
$hover-brand: #efb470;
$background-layer: #42424299;
$background-menu:#616161;
$color-admin-logo: #e0e0e0;
$background-dashboard: #f7f5f2;
$background-navbar-sections-dashboard: #fbfaf9;
$text-menu: #ffffff;
$text-color: #333333;
$icons-color: #757575;
.background {
    background: $background-navbar-sections-dashboard;
    .fullHeight {
        height: 100vh;
        .mg0 {
            margin: 0;
        }
        .logoLayer {
            height: 100vh;
            padding-top: 10%;
        }
        .login {
            /*height: 100vh;*/
            background: $background-navbar-sections-dashboard;
            padding-top: 10%;
            .welcome {
                font-size: 28px;
                font-family: 'Coming Soon', cursive;
                font-weight: 600;
            }
            form {
                .material-icons.active {
                    color: $brand-principal-color;
                }
                .input-field input:focus+label {
                    color: $brand-principal-color !important;
                }
                .input-field input:focus {
                    border-bottom: 1px solid $brand-principal-color;
                    box-shadow: 0 1px 0 0 $brand-principal-color;
                }
                button {
                    background: $brand-principal-color;
                    font-family: 'Coming Soon', cursive;
                    font-size: 18px;
                    border-radius: 5px;
                    text-transform: capitalize;
                }
                a {
                    color: $brand-principal-color;
                    font-weight: 600;
                }
            }
        }
    }
}

@media (min-width: 993px) {
    .background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: /* top, transparent red */
        linear-gradient( $background-layer, $background-layer), /* your image */
        url(../../../assets/images/login-background.jpg);
        .login {
            height: 100vh;
        }
    }
}