.background {
  background: #fbfaf9;
}

.background .fullHeight {
  height: 100vh;
}

.background .fullHeight .mg0 {
  margin: 0;
}

.background .fullHeight .logoLayer {
  height: 100vh;
  padding-top: 10%;
}

.background .fullHeight .login {
  /*height: 100vh;*/
  background: #fbfaf9;
  padding-top: 10%;
}

.background .fullHeight .login .welcome {
  font-size: 28px;
  font-family: 'Coming Soon', cursive;
  font-weight: 600;
}

.background .fullHeight .login form .material-icons.active {
  color: #d19147;
}

.background .fullHeight .login form .input-field input:focus + label {
  color: #d19147 !important;
}

.background .fullHeight .login form .input-field input:focus {
  border-bottom: 1px solid #d19147;
  -webkit-box-shadow: 0 1px 0 0 #d19147;
          box-shadow: 0 1px 0 0 #d19147;
}

.background .fullHeight .login form button {
  background: #d19147;
  font-family: 'Coming Soon', cursive;
  font-size: 18px;
  border-radius: 5px;
  text-transform: capitalize;
}

.background .fullHeight .login form a {
  color: #d19147;
  font-weight: 600;
}

@media (min-width: 993px) {
  .background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#42424299), to(#42424299)), url(../../../assets/images/login-background.jpg);
    background-image: linear-gradient(#42424299, #42424299), url(../../../assets/images/login-background.jpg);
  }
  .background .login {
    height: 100vh;
  }
}
/*# sourceMappingURL=login.module.css.map */