$brand-principal-color: #d19147;
$brand-principal-color-opacity: #ebd7be;
$hover-brand: #efb470;
$background-layer: #42424299;
$background-menu:#616161;
$color-admin-logo: #e0e0e0;
$background-dashboard: #f7f5f2;
$background-navbar-sections-dashboard: #fbfaf9;
$text-menu: #ffffff;
$text-color: #333333;
$icons-color: #757575;
$icons-color-opacity: #75757599;
.main {
    background: $background-dashboard;
    p {
        text-align: justify;
    }
    .mb0 {
        margin-bottom: 0;
    }
    .fullHeight {
        height: 100vh;
    }
    .receiptTitle {
        font-family: 'Coming Soon', cursive;
        font-size: 32px;
    }
    i {
        font-size: 32px;
    }
    .timeDiv {
        margin-top: 20px;
        text-align: center;
        .receiptTime {
            @extend .receiptTitle;
            margin-left: 10px;
            margin-top: -5px;
        }
    }
    .sectionTitle {
        font-family: 'Coming Soon', cursive;
        font-size: 24px;
    }
    .dinerBtn {
        background: none;
        border: none;
        cursor: pointer;
        color: $icons-color;
    }
    .disabledBtn {
        cursor: initial;
        color: $background-dashboard;
    }
    .diner {
        font-size: 32px;
        color: $icons-color;
    }
    .ingredientsDiv {
        background: $brand-principal-color-opacity;
        border-radius: 5px;
        margin: 40px 0;
    }
    .ingredientTitle {
        font-size: 18px;
        font-family: 'Coming Soon', cursive;
    }
    .ingredientsDetailDiv {
        margin-bottom: 40px;
        p {
            text-align: initial;
            margin-bottom: 0;
        }
        span {
            color: $icons-color;
            font-size: 14px;
        }
    }
    .stepNumber {
        margin-top: 20px;
        font-size: 16px;
        font-family: 'Coming Soon', cursive;
        font-weight: 600;
    }
    .dividerLane {
        background: $icons-color;
    }
    .favBtnDiv {
        margin: 40px 0;
        .favBtn {
            background: $brand-principal-color;
            .favIcon {
                font-size: 18px;
            }
        }
    }
}

@media (min-width: 993px) {
    .main {
        .timeDiv {
            .alignRight {
                text-align: right;
            }
            .alignLeft {
                text-align: left;
            }
        }
    }
}