.main {
  background: #f7f5f2;
}

.main p {
  text-align: justify;
}

.main .mb0 {
  margin-bottom: 0;
}

.main .fullHeight {
  height: 100vh;
}

.main .receiptTitle, .main .timeDiv .receiptTime {
  font-family: 'Coming Soon', cursive;
  font-size: 32px;
}

.main i {
  font-size: 32px;
}

.main .timeDiv {
  margin-top: 20px;
  text-align: center;
}

.main .timeDiv .receiptTime {
  margin-left: 10px;
  margin-top: -5px;
}

.main .sectionTitle {
  font-family: 'Coming Soon', cursive;
  font-size: 24px;
}

.main .dinerBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: #757575;
}

.main .disabledBtn {
  cursor: initial;
  color: #f7f5f2;
}

.main .diner {
  font-size: 32px;
  color: #757575;
}

.main .ingredientsDiv {
  background: #ebd7be;
  border-radius: 5px;
  margin: 40px 0;
}

.main .ingredientTitle {
  font-size: 18px;
  font-family: 'Coming Soon', cursive;
}

.main .ingredientsDetailDiv {
  margin-bottom: 40px;
}

.main .ingredientsDetailDiv p {
  text-align: initial;
  margin-bottom: 0;
}

.main .ingredientsDetailDiv span {
  color: #757575;
  font-size: 14px;
}

.main .stepNumber {
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Coming Soon', cursive;
  font-weight: 600;
}

.main .dividerLane {
  background: #757575;
}

.main .favBtnDiv {
  margin: 40px 0;
}

.main .favBtnDiv .favBtn {
  background: #d19147;
}

.main .favBtnDiv .favBtn .favIcon {
  font-size: 18px;
}

@media (min-width: 993px) {
  .main .timeDiv .alignRight {
    text-align: right;
  }
  .main .timeDiv .alignLeft {
    text-align: left;
  }
}
/*# sourceMappingURL=receipt-detail.module.css.map */