.main {
  background: #f7f5f2;
  padding-bottom: 120px;
  min-height: 100vh;
}

.main .mb0 {
  margin-bottom: 0;
}

.main .brandColor {
  color: #d19147;
}

.main .title {
  font-family: 'Coming Soon', cursive;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main .dividerLane {
  background: #757575;
}

.main .optionsRow {
  margin: 40px 0;
}

.main .optionsRow .saveSearchBtn {
  background: #757575;
  font-family: 'Coming Soon', cursive;
  color: #ffffff;
  font-weight: 600;
  margin-top: 10px;
}

.main .searchReceiptsBtn {
  background: #d19147;
  font-family: 'Coming Soon', cursive;
  font-weight: 600;
  color: #333333;
  padding: 0 30px;
  font-size: 14px;
}

.main .updatePrimarySearchBtn {
  background: #757575;
  font-family: 'Coming Soon', cursive;
  color: #ffffff;
  font-weight: 600;
  margin-top: 10px;
  font-size: 14px;
}

@media (min-width: 360px) and (max-width: 390px) {
  .searchReceiptsBtn {
    font-size: 12px !important;
  }
  .updatePrimarySearchBtn {
    font-size: 12px !important;
  }
}

@media (max-width: 360px) {
  .searchReceiptsBtn {
    font-size: 10px !important;
  }
  .updatePrimarySearchBtn {
    font-size: 10px !important;
  }
}
/*# sourceMappingURL=founded-receipts.module.css.map */