$brand-principal-color: #d19147;
$hover-brand: #efb470;
$background-layer: #42424299;
$background-menu:#616161;
$color-admin-logo: #e0e0e0;
$background-dashboard: #f7f5f2;
$background-navbar-sections-dashboard: #fbfaf9;
$text-menu: #ffffff;
$text-color: #333333;
$icons-color: #757575;
$icons-color-opacity: #75757599;
.main {
    background: $background-dashboard;
    padding-bottom: 120px;
    min-height: 100vh;
    .mb0 {
        margin-bottom: 0;
    }
    .brandColor {
        color: $brand-principal-color;
    }
    .title {
        font-family: 'Coming Soon', cursive;
        font-size: 28px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .dividerLane {
        background: $icons-color;
    }
    .optionsRow {
        margin: 40px 0;
        .saveSearchBtn {
            background: $icons-color;
            font-family: 'Coming Soon', cursive;
            color: $text-menu;
            font-weight: 600;
            margin-top: 10px;
        }
    }
    .searchReceiptsBtn {
        background: $brand-principal-color;
        font-family: 'Coming Soon', cursive;
        font-weight: 600;
        color: $text-color;
        padding: 0 30px;
        font-size: 14px;
    }
    .updatePrimarySearchBtn {
        background: $icons-color;
        font-family: 'Coming Soon', cursive;
        color: $text-menu;
        font-weight: 600;
        margin-top: 10px;
        font-size: 14px;
    }
}

//Change font size from buttons in devices from 390px width
@media (min-width: 360px) and (max-width: 390px) {
    .searchReceiptsBtn {
        font-size: 12px !important;
    }
    .updatePrimarySearchBtn {
        font-size: 12px !important;
    }
}

//Change font size from buttons in devices from 390px width
@media (max-width: 360px) {
    .searchReceiptsBtn {
        font-size: 10px !important;
    }
    .updatePrimarySearchBtn {
        font-size: 10px !important;
    }
}